@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(../images/bg-2.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
.text {
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 5rem;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  font-family: "Saira Stencil One", cursive;
}
#hangmanPic {
  margin-top: 10rem;
}
#keyboard button:hover {
  background-color: #f2bb7b;
  font-weight: bolder;
}
.container #guess-para {
  margin-top: 3rem;
  font-family: "Germania One", cursive;
  font-size: 1.5rem;
}
.start-btn {
  margin: 3rem 0;
}
.float-right {
  position: absolute;
  top: 23%;
  right: 25%;
}
.float-right p {
  font-family: "Germania One", cursive;
  font-size: 1.4rem;
}
